.content_body {
  border: 1px solid grey;
  padding: 5px 5px;
  border-radius: 10px;
}
.divArea {
  display: flex;
  height: 20px;
  font-size: 14px;
  font-weight: bold;
}

.inputArea {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.inputSubArea {
  width: 20%;
}

.textArea {
  width: 100%;
}

h5 {
  margin: 0 0 0 0;
}
