.content_body {
  width: 25%;
}
.divArea {
  display: flex;
  height: 30px;
  font-size: 14px;
  font-weight: bold;
}

.inputArea {
  display: flex;
  justify-content: space-around;
}

.inputSubArea {
  width: 20%;
}

.textArea {
  width: 100%;
}
