#root {
  max-width: 1280px;
  min-width: 470px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: space-evenly;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.titleArea {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  height: 40px;
  background: #666666; /* blue-600 */
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;

  transition: background 0.2s ease, transform 0.1s ease;
}

button:hover {
  background: #a0a0a0;
}

button:active {
  transform: scale(0.97);
}

button:disabled {
  background: #9ca3af;
  cursor: not-allowed;
}
